div.todays-hours-container{
    width: 360px;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.49);
}
div.todays-hours-container div {
    display: inline-block;
    margin: 10px;
}

div.todays-hours{

}

div.todays-hours p {

}


.vector-clock {
    background-image: url('../img/vector-clock.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    float: right;
}